<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanote.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.yuanote.domain.User">
		<id column="yn_user_id" property="userId" jdbcType="VARCHAR" />
		<result column="yn_user_name" property="userName" jdbcType="VARCHAR" />
		<result column="yn_user_password" property="password" jdbcType="VARCHAR" />
		<result column="yn_user_desc" property="userDesc" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		yn_user_id, yn_user_name, yn_user_password,yn_user_desc
	</sql>
	<select id="selectByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from yn_user
		where yn_user_name = #{userName,jdbcType=VARCHAR}
	</select>
	<insert id="insertSelective" parameterType="com.yuanote.domain.User">
		insert into yn_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				yn_user_id,
			</if>
			<if test="userName != null">
				yn_user_name,
			</if>
			<if test="password != null">
				yn_user_password,
			</if>
			<if test="userDesc != null">
				yn_user_desc,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="userDesc != null">
				#{userDesc,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yuanote.domain.User">
		update yn_user
		<set>
			<if test="userName != null">
				yn_user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				yn_user_password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="userDesc != null">
				yn_user_desc = #{userDesc,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where yn_user_id = #{userId,jdbcType=VARCHAR}
	</update>
</mapper>